@import "tailwindcss";

@utility no-spinner {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media print {
  nav, .bottom-nav, button, .no-print {
    display: none !important;
  }
  
  body {
    background: white !important;
    padding: 0 !important;
  }
  
  .print-container {
    box-shadow: none !important;
    border: none !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
}